body.cover {
  background: url('../img/d.jpg') center/cover no-repeat;
  height: 100vh;
  font-family: 'Georgia', serif;
  color: white;
  margin: 0;
  position: relative;
}

body.bg-flip2 {
  background-image: url('../img/bg-flip2.jpg');
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.45);
  z-index: 1;
}

.content {
  border-radius: 20px;
  padding: 50px 70px;  
  position: relative;
  z-index: 2;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.subtitle {
  letter-spacing: 2px;
}

h1 {
  font-size: 2.4rem;
  margin: 10px 0;
}

.date {
  margin-bottom: 30px;
}

.btn {
  background: white;
  color: black;
  padding: 14px 30px;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
}
